.Header {
  background-color: #24234E;
  padding: 1em 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    &__img {
      width: 170px;
    }

    @media screen and (max-width: 790px) {
      display: none;
    }
  }

  &__navigation {
    list-style: none;
    display: flex;
    transition: .5s;
    &__item{
      margin-left: 2em;
      @media screen and (max-width: 790px) {
        margin-left: 1em;
        margin-bottom: .5em;
        font-size: 1.2em;
      }
    }
    &__link{
      text-transform: uppercase;
      &:hover {
        text-decoration: none;
        color: rgba(255,255,255,0.7);
      }
    }
    @media screen and (max-width: 790px) {
      position: fixed;
      top: 0px;
      right: -1000px;
      height: 100vh;
      background: #4fb8e9;
      width: 60vw;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      padding-top: 1em;
    }
  }
  &-navmobile {

    @media screen and (min-width: 790px) {
      display: none;
    }

    &__btn {
      border: 0;
      background-color: transparent;
      background: url("./images/fonts/menu.svg") center;
      background-repeat: no-repeat;
      padding: 1em;
      font-size: 15px;
      font-weight: normal;
      cursor: pointer;
      &:focus {
        outline: transparent;
      }
    }
  }
  @media screen and (max-width: 790px) {
    padding: 1em;
    font-size: 14px;
  }
}