mixin footer()
  footer.Footer
    section.Footer-header
      figure.Footer-header__figure
        img.Footer-header__figure-img(src="./images/logo.png")
      div.Footer-header__titleContent
        h1.Footer-header__titleContent__title conoce todo sobre nuestros proyectos
    section.container-default.Footer-information
      div.Footer-information__item.Footer-information__house
        p.Footer-information__house_text Calle 5 Norte #9-15 Popayán - Cauca
        p.Footer-information__house_text Tel: 8361069 Cel: 3136153296
        p.Footer-information__house_text Create By: Comunix S.A.S
      div.Footer-information__item.Footer-information__social-Nework
        p.Footer-information__social-Nework_text Ingrese a Nuestro sitio Web
        p.Footer-information__social-Nework_text www.bodecom.co
        a.Footer-information__social-Nework_link.Footer-icon__email(href="#")
          span info@comunix.com
        a.Footer-information__social-Nework_link.Footer-icon__facebook(href="#")
          span /bodecom